body, html {
  height: 100%;
}

.lock {
  background-image: url("src/assets/images/lock.jpeg");

  height: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.cloud {
  background-image: url("src/assets/images/cloud_.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
.page1 {
  background-image: url("src/assets/images/page1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
